* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Poppins";
}

.continer {
  width: 1320px;
  margin: 0 auto;
}

.tepa {
  box-sizing: border-box;
  height: 152px;
  background-color: #FFF9F3;
}

.bir {
  justify-content: space-between;
  width: 1320px;
  height: 152px;
  display: flex;
  padding-top: 24px;
}

.input {
  width: 760px;
  height: 48px;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input input {
  width: 530px;
  border: 0px;
  opacity: 50%;
}

.button {
  --c: #fff;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 33%, rgba(255, 255, 255, 0.3333333333), rgba(0, 0, 0, 0) 67%) var(--_p, 100%)/300% no-repeat, #004dff;
  color: rgba(0, 0, 0, 0);
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c), calc(var(--_i, -1) * -0.08em) 0.01em 2px rgba(0, 0, 0, 0.2666666667);
  outline-offset: 0.1em;
  transition: 0.3s;
  width: 88px;
  height: 48px;
  background-color: #EB6D20;
  border-radius: 50px;
  font-size: 12px;
}

.button:hover,
.button:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9000000000q rgba(0, 0, 0, 0.3333333333);
  transition: 0s;
}

.button {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}

.icons {
  display: flex;
  gap: 24px;
  padding-top: 10px;
}

select {
  border: 0px;
  width: 154px;
  height: 35px;
  border-radius: 52px;
  background-color: #F5F6F8;
  text-align: center;
}

.ikki {
  display: flex;
  color: black;
  gap: 48px;
  font-size: 14px;
  margin-top: -45px;
  transition: all 1s;
}

.pi {
  transition: all 0.5s;
}

.pi:hover {
  transform: scale(110%);
}

.card1 {
  display: flex;
  margin-top: 24px;
  gap: 24px;
}

.img1 {
  background-image: url("../img/unsplash_mO-_iF_FkCk.svg");
  width: 424px;
  height: 180px;
  color: #fff;
  border-radius: 5px;
  transition: all 1s;
}

.p1 {
  padding-top: 144px;
  padding-left: 16px;
}

.img2 {
  background-image: url("../img/unsplash_gDrUY7QUeng.png");
  width: 424px;
  height: 180px;
  color: #fff;
  border-radius: 5px;
  transition: all 1s;
}

.p1 {
  padding-top: 144px;
  padding-left: 16px;
}

.img3 {
  background-image: url("../img/unsplash_q4LIvI9NN6Y.png");
  width: 424px;
  height: 180px;
  color: #fff;
  border-radius: 5px;
  transition: all 1s;
}

.p1 {
  padding-top: 144px;
  padding-left: 16px;
}

.img1:hover {
  transform: scale(110%);
}

.img2:hover {
  transform: scale(110%);
}

.img3:hover {
  transform: scale(110%);
}


.card2 {
  display: flex;
  margin-top: 24px;
  gap: 24px;
}

.cardd1 {
  width: 312px;
  height: 418px;
  border-radius: 5px;
  background-color: #D3FBD9;
  transition: all 1s;
}
.cardd2 {
  width: 312px;
  height: 418px;
  border-radius: 5px;
  background-color: #FFE4BD;
  transition: all 1s;
}
.cardd3 {
  width: 312px;
  height: 418px;
  border-radius: 5px;
  background-color: 
  #D9ABFD;
  transition: all 1s;
}
.cardd1:hover{
transform: scale(105%);
}
.cardd2:hover{
  transform: scale(105%);
  }
  .cardd3:hover{
    transform: scale(105%);
    }
    .cardd4:hover{
      transform: scale(105%);
      }
.cardd4 {
  width: 312px;
  height: 418px;
  border-radius: 5px;
  background-color: 
  #FDF0AB;
  transition: all 1s;
}

.stul {
  padding-top: 12px;
  padding-left: 56px;

}

.heart-container {
  margin-left: 264px;
  z-index: 100;
  --heart-color: rgba(139, 139, 139, 0.785);
  position: relative;
  width: 20px;
  height: 20px;
  transition: .3s;
  margin-top: 24px;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

.p2 {
  margin-top: -15px;
  font-size: 12px;
  padding-left: 24px;
}

.y {
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background-color: #7CB93E;
  cursor: pointer;
}

.h {
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background-color: 
  #33ABC6;
  cursor: pointer;
}

.yr {
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background-color: #1CCD8D;
  cursor: pointer;
}

.k {
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background-color: 
  #3F65EA;
  cursor: pointer;
}

.p {
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background-color: 
  #F64A69
  ;
  cursor: pointer;
}

.s {
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background-color: 
  #A635EC;
  cursor: pointer;
}

.sa {
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background-color: 
  #F9A85D;
  cursor: pointer;
}

.colors {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  padding-left: 24px;
}

.p3{
font-weight: 400;
font-size: 14px;
padding-top: 24px;
padding-left: 24px;
}

.pul{
  font-weight: 500;
  font-size: 14px;
  padding-top: 32px;
  padding-left: 24px;
}

.car1{
display: flex;
background-color: #F5F6F8;
align-items: center;
width: 424px;
height: 174px;
justify-content: space-around;
transition: all 1s;
border-radius: 5px;
}
.car1:hover{
transform: scale(105%);
}
.cars{
display: flex;
gap: 24px;
margin-top: 48px;
}
h3{
font-size: 16px;
font-weight: 500;
width: 113px;
padding-bottom: 12px;
}
.p5{
font-size: 12px;
line-height: 12px;
width: 176px;
}